{% extends "picks/pick_base.html" %}
{% load staticfiles %}
{% load static %}
{% block prepicks %}

 <h5>PICKS FOR: <strong>@{{user.username}}</strong> {% if input %}FOR WEEK: {{input}}{% else %}{% endif %}</h5>

<hr>
<form class="form-inline" method="GET">
  <label for="week">SELECT WEEK :  </label>
  <select name="week">
    {% for ii in "xxxxxxxxxxxxxxxxx" %}
      {% if forloop.counter == input|add:"0" %}
        <option selected="selected">{{ forloop.counter }}</option>
      {% else %}
          <option>{{ forloop.counter }}</option>
      {% endif %}
    {% endfor %}

  </select>
 <input type="submit" value="Submit" />
</form>

<div class="col-lg-12">
<table class="table table-striped">
	<thead>
    <th>Week </th>
		<th>Away </th>
    <th>Prediction</th>
		<th>Home </th>
		<th>Kick Off</th>
    <th>Winner</th>
    <th>Margin</th>
    <th>TP</th>
	</thead>

  {% for pick in object_list %}
  	<tr>
      <td>{{ pick.fixture.week }}</td>
  		<td><img src="{% static pick.fixture.away_team.team_logo %}" style="width:40px;height:40px;">
  			  {{ pick.fixture.away_team }}</td>
  		<td>{{ pick.away_pick }}      -     {{ pick.home_pick }}</td>
  		<td><img src="{% static pick.fixture.home_team.team_logo %}" style="width:40px;height:40px;">
  			  {{ pick.fixture.home_team }}</td>

  		<td>{{ pick.fixture.ko_datetime }}</td>
      <td align="right">{{ pick.winner_pts }}</td>
      <td align="right">{{ pick.margin_pts }}</td>
      <td align="right">{{ pick.totalpts_pts }}</td>
  	</tr>
  {% endfor %}

</table>
</div>

{% endblock %}
