{% extends "picks/pick_base.html" %}
{% load staticfiles %}
{% load static %}
{% block prepicks %}


<P>ALL PICKS</P>
<form class="form-inline" method="GET">
  <label for="week">SELECT WEEK :  </label>
  <select name="week">
    {% for ii in "xxxxxxxxxxxxxxxxxxxxx" %}
      {% if forloop.counter == input|add:"0" %}
        <option selected="selected">{{ forloop.counter }}</option>
      {% else %}
          <option>{{ forloop.counter }}</option>
      {% endif %}
    {% endfor %}

  </select>
 <input type="submit" value="Submit" />
</form>

<table class="table">

<thead>
  <th>Week</th>
  <th>Away</th>
  <th>Home</th>
  <th>conorspicer</th>
  <th>torinmehmet</th>
  <th>magnusmartinsen</th>
  <th>lewismead</th>
</thead>

<tbody>

  {% for pick in object_list %}

    {% if forloop.counter0|divisibleby:4 %}
      <tr>
        <td>{{pick.fixture.week}}</td>
        <td>{{pick.fixture.away_team.team_name}}</td>
        <td>{{pick.fixture.home_team.team_name}}</td>
        <td>{{pick.predicted_winner.team_name}}</td>
        <td>{{pick.predicted_margin}}</td>
        <td>{{pick.predicted_total_pts}}</td>
        <td>{{pick.lock}}</td>

    {% elif forloop.counter|divisibleby:4 %}
        <td>{{pick.predicted_winner.team_name}}</td>
        <td>{{pick.predicted_margin}}</td>
        <td>{{pick.predicted_total_pts}}</td>
        <td>{{pick.lock}}</td>
      </tr>

    {% else %}
        <td>{{pick.predicted_winner.team_name}}</td>
        <td>{{pick.predicted_margin}}</td>
        <td>{{pick.predicted_total_pts}}</td>
        <td>{{pick.lock}}</td>
    {% endif %}

  {% endfor %}
</tbody>
</table>

{% endblock %}
