{% extends "picks/pick_base.html" %}
{% load static %}
{% block prepicks %}


<P>ALL PICKS</P>
<form class="form-inline" method="GET">
  <label for="week">SELECT WEEK :  </label>
  <select name="week">
    {% for ii in "xxxxxxxxxxxxxxxxxxxxxx" %}
      {% if forloop.counter == input|add:"0" %}
        <option selected="selected">{{ forloop.counter }}</option>
      {% else %}
          <option>{{ forloop.counter }}</option>
      {% endif %}
    {% endfor %}

  </select>
 <input type="submit" value="Submit" />
</form>

<table class="table">

<thead>
<th>WEEK</th>
<th>AWAY</th>
<th>A_SCORE</th>
<th>HOME</th>
<th>H_SCORE</th>
<th>CONOR</th>
<th>CONOR_M</th>
<th>CONOR_TP</th>
<th>CONOR_L</th>
<th>TORIN</th>
<th>TORIN_M</th>
<th>TORIN_TP</th>
<th>TORIN_L</th>
<th>MAGNUS</th>
<th>MAGNUS_M</th>
<th>MAGNUS_TP</th>
<th>MAGNUS_L</th>
<th>LEWIS</th>
<th>LEWIS_M</th>
<th>LEWIS_TP</th>
<th>LEWIS_L</th>
</thead>

<tbody>

  {% for pick in object_list %}

    {% if forloop.counter0|divisibleby:4 %}
      <tr>
        <td>{{pick.fixture.week}}</td>
        <td>{{pick.fixture.away_team.team_name}}</td>
        <td>{{pick.fixture.away_score}}</td>
        <td>{{pick.fixture.home_team.team_name}}</td>
        <td>{{pick.fixture.home_score}}</td>
        <td>{{pick.predicted_winner.team_name}}</td>
        <td>{{pick.predicted_margin}}</td>
        <td>{{pick.predicted_total_pts}}</td>
        <td>{{pick.lock}}</td>

    {% elif forloop.counter|divisibleby:4 %}
        <td>{{pick.predicted_winner.team_name}}</td>
        <td>{{pick.predicted_margin}}</td>
        <td>{{pick.predicted_total_pts}}</td>
        <td>{{pick.lock}}</td>
      </tr>

    {% else %}
        <td>{{pick.predicted_winner.team_name}}</td>
        <td>{{pick.predicted_margin}}</td>
        <td>{{pick.predicted_total_pts}}</td>
        <td>{{pick.lock}}</td>
    {% endif %}

  {% endfor %}
</tbody>
</table>

{% endblock %}
