{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br>
<div class="container">
  <table class="table table-striped">

    <thead>
      <th>Year</th>
      <th>Winner</th>
      <th>Points</th>
      <th>Jersey</th>
    </thead>

    <tbody>
      <tr>
        <td>2014</td>
        <td>Magnus Martinsen</td>
        <td>2292*</td>
        <td><img src="{% static 'logos/minnesota-vikings-logo-vector.png' %}" alt="" style="width:50px;height:50px;"> 5 - Teddy Bridgewater </td>
      </tr>

      <tr>
        <td>2015</td>
        <td>Magnus Martinsen</td>
        <td>4679</td>
        <td><img src="{% static 'logos/cleveland-browns-vector-logo.png' %}" alt="" style="width:50px;height:50px;"> 2 - Johnny Manziel </td>
      </tr>

      <tr>
        <td>2016</td>
        <td>Conor Spicer</td>
        <td>5101</td>
        <td><img src="{% static 'logos/jacksonville-jaguars-vector-logo.png' %}" alt="" style="width:50px;height:50px;">  88 - Allen Hurns </td>
      </tr>

      <tr>
        <td>2017</td>
        <td>Conor Spicer</td>
        <td>6625</td>
        <td><img src="{% static 'logos/philadelphia-eagles-logo-vector.png' %}" alt="" style="width:50px;height:50px;">  9 - Nick Foles </td>
      </tr>

      <tr>
        <td>2018</td>
        <td>Lewis Mead</td>
        <td>6779</td>
        <td><img src="{% static 'logos/tennessee-titans-vector-logo.png' %}" alt="" style="width:50px;height:50px;">  8 - Mariota </td>
      </tr>

      <tr>
        <td>2019</td>
        <td>Torin Mehmet</td>
        <td>6396</td>
        <td><img src="{% static 'logos/green-bay-packers-logo-vector.png' %}" alt="" style="width:50px;height:50px;">  17 - Adams </td>
      </tr>

      <tr>
        <td>2020</td>
        <td>Conor Spicer</td>
        <td>6947</td>
        <td><img src="{% static 'logos/tampa-bay-buccaneers-logo-vector.png' %}" alt="" style="width:50px;height:50px;">  12 - Tom Brady </td>
      </tr>

      <tr>
        <td>2021</td>
        <td>Conor Spicer</td>
        <td>7097</td>
        <td><img src="{% static 'logos/pittsburgh-steelers-logo-vector-01.png' %}" alt="" style="width:50px;height:50px;">  7 - Ben Roethlisberger </td>
      </tr>
    </tbody>

  </table>
</div>

{% endblock %}
