{% extends "base0.html" %}

{% load static %}
{% block content %}

{# intro slide #}
{# <section class="engine"><a rel="external" href="https://mobirise.com">mobirise.com</a></section> #}
<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow" id="header1-1" style="background-image: url({% static 'images/mbr-2000x1333.jpg'%}) ;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1">NFL PREDICTOR</h1>
                    {% if user.is_authenticated %}
                      <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="{% url 'picks:all' %}">PICKS</a> </div>
                    {% else %}
                      <div class="mbr-section-btn">
                        <a class="btn btn-lg btn-primary" href="{% url 'accounts:login' %}">LOGIN</a>
                       </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#msg-box4-1"><i class="mbr-arrow-icon"></i></a></div>

</section>


<!--<section class="mbr-section" id="msg-box4-1" style="background-color: rgb(242, 242, 242); padding-top: 120px; padding-bottom: 120px;">-->

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="mbr-table-md-up">-->
<!--              <div class="container">-->
<!--                <h2>CURRENT SCORES</h2>-->
<!--                <hr>-->
<!--                <ul style="list-style: none;">-->
<!--                  {% for r in totals %}-->
<!--                    <li ><h4><strong>{{r.total_points_scored}}</strong> - @{{r.user.username}}</h4></li>-->
<!--                  {% endfor %}-->
<!--                </ul><hr>-->
<!--              </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->



{% endblock %}
